// ---
// ---
// -Responsive on xl devices only-
// phHome Container - Landing page visible on xl only
.container-fluid.d-none.d-xl-block
  .row.animatedParent
    .col-12.text-center.phbgn-gradient-white.phhgt-cover.d-flex.align-items-center.justify-content-center
      .col-12
        // <i class="fab fa-grav fa-5x phtext-dark animated rollIn" data-fa-transform="flip-h rotate-5"></i>
        img.animated.fadeInDownShort(src='../img/system/phesteelogox2.png', width='150', height='150')
        p.h1.mt-3.font-weight-bold.phtext-dark.phfont-lato.animated.fadeInDownShort Deja los motores de búsqueda en el pasado
        p.h4.mt-4.phfont-muli.phtext-dark.animated.fadeInDownShort Únete a Phestee y descubre por qué.
        button.btn.btn-lg.phbtn-blue.mt-4.font-weight-light.animated.fadeInUpShort.phfont-muli(data-toggle='modal', data-target='#phRegMdl', style='width: 12rem;') Empezar
        p.mt-3
          a(href='#navExprnce')
            i.fas.fa-chevron-down.animated.fadeInUpShort.delay-500.fa-2x.phtext-light