// --
// phHmTblro Container - Landing page visible on md only
#navTblro-md.container-fluid.d-none.d-md-block.d-xl-none
  .row.bg-white.align-items-start.justify-content-center.animatedParent
    .col-12.mt-5
      .container-fluid
        .col-12
          p.h3.animated.fadeIn.delay-250.font-weight-bold.phtext-dark.phfont-lato
            i.fas.fa-list-ul.phtext-purple
            |  Tu tablero es la parte más importante de Phestee
          small.h5.animated.fadeIn.delay-250.text-muted.phfont-muli
            | Agrega a tu perfil lo que te gusta hacer, 
            b puede ser tu oficio
            | , tu profesión 
            b o cualquier emprendimiento
            |  que tengas en mente.
    .container.border-0.d-flex.justify-content-center
      .card.mt-5.phbgn-gradient-blue.border-0.text-white.animated.fadeIn.delay-500
        .card-body.text-center
          .row
            .col
              img.animated.fadeInLeftShort.delay-250.mt-2.rounded-circle.border-light.phborder-bold-white(src='../img/system/phuser.jpeg', width='60', height='60', style='border-width: thick')
            .col-8.text-left.my-auto.animated.fadeInLeftShort.delay-250
              p.card-title.h5.phfont-lato.text-white Julia Orozco
              p.card-text.p.phfont-muli.text-white Freelancer
              span.fa-layers.fa-fw
                i.fas.fa-certificate.fa-1x
                i.fa-inverse.fas.fa-check.phtext-blue(data-fa-transform='shrink-8')
              i.text-white.fab.fa-facebook-square.fa-sm.ml-2
              i.text-white.fab.fa-twitter.fa-sm.ml-2
              i.text-white.fab.fa-instagram.fa-sm.ml-2
              i.text-white.fas.fa-globe.fa-sm.ml-2
            .col-12.mt-4.d-flex.align-items-center.justify-content-between.animated.fadeInLeftShort.delay-250
              .mx-auto
                small.h5 45
                p.p
                  small Clientes
              .mx-auto
                small.h5 155
                p.p
                  small Seguidores
              .mx-auto
                small.h5 122
                p.p
                  small Siguiendo
          ul.text-center.list-group.animatedParent.list-group-flush
            li.list-group-item.animated.fadeInUpShort.delay-1500.phbgn-transparent.border-light
              i.fas.fa-check
              |  Desarrollo y diseño Web
              p.card-text.ml-1.text-truncate(style='max-width: auto;')
                small.text-light #diseñoweb,#web,#desarrolloweb,#negocioweb,#iniciandonegocio
            li.list-group-item.animated.fadeInUpShort.delay-2000.phbgn-transparent.border-light
              i.fas.fa-check
              |  Paseo de mascota 
              p.card-text.ml-1.text-truncate(style='max-width:auto;')
                small.text-light #miperroestátriste,#pasearamiperro,#mascota,#miperritaestásola,
            li.list-group-item.animated.fadeInUpShort.delay-2500.phbgn-transparent.border-light
              i.fas.fa-check
              |  Fotógrafa Profesional 
              p.card-text.ml-1.text-truncate(style='max-width: auto;')
                small.text-light #fotografía,#XVaños,#boda,#modelaje,#grabarevento,#grabarboda