// --
// phHmTblro Container - Landing page
#navTblro.container-fluid.d-none.d-xl-block
  .row.phhgt-cover.bg-white.align-items-start.justify-content-center.animatedParent
    .col-12.mt-5
      .container.mt-4.d-flex.justify-content-center.text-center
        .col-9.animated.fadeIn.delay-250
          p.h2.font-weight-bold.phtext-dark.phfont-lato
            i.fas.fa-list-ul.phtext-purple
            |  Tu tablero es la parte más importante de Phestee
          small.h5.animated.fadeIn.delay-250.text-muted.phfont-muli
            | Agrega a tu perfil lo que te gusta hacer, 
            b puede ser tu oficio
            | , tu profesión 
            b o cualquier emprendimiento
            |  que tengas en mente.
      .container-fluid.mt-4.border-0.d-flex.justify-content-center
        .col-4.phfont-muli.d-flex.align-items-center.justify-content-center
          .card.phbox-shadow-blue.phbgn-gradient-blue.border-0.text-white.animated.fadeIn.delay-500
            .card-body.text-center
              .row
                .col
                  img.animated.fadeInLeftShort.delay-250.mt-2.rounded-circle.border-light.phborder-bold-white(src='../img/system/phuser.jpeg', width='100', height='100', style='border-width: thick')
                .col-8.text-left.my-auto.animated.fadeInLeftShort.delay-250
                  p.card-title.h3.phfont-lato.text-white Julia Orozco
                  p.card-text.h5.phfont-muli.text-white Freelancer
                  span.fa-layers.fa-fw
                    i.fas.fa-certificate.fa-1x
                    i.fa-inverse.fas.fa-check.phtext-blue(data-fa-transform='shrink-8')
                  i.text-white.fab.fa-facebook-square.fa-1x.ml-3
                  i.text-white.fab.fa-twitter.ml-3
                  i.text-white.fab.fa-instagram.ml-3
                  i.text-white.fas.fa-globe.ml-3
                .col-12.mt-4.d-flex.align-items-center.justify-content-between.animated.fadeInLeftShort.delay-250
                  .mx-auto
                    small.h4.font-weight-bold 45
                    p.p Clientes
                  .mx-auto
                    small.h4.font-weight-bold 155
                    p.p Seguidores
                  .mx-auto
                    small.h4.font-weight-bold 122
                    p.p Siguiendo
              ul.text-center.list-group.animatedParent.list-group-flush
                li.list-group-item.animated.fadeInUpShort.delay-1500.phbgn-transparent.border-light
                  i.fas.fa-check
                  |  Desarrollo y diseño Web
                  p.card-text.ml-1.text-truncate(style='max-width: auto;')
                    small.text-light #diseñoweb,#web,#desarrolloweb,#negocioweb,#iniciandonegocio
                li.list-group-item.animated.fadeInUpShort.delay-2000.phbgn-transparent.border-light
                  i.fas.fa-check
                  |  Paseo de mascota 
                  p.card-text.ml-1.text-truncate(style='max-width:auto;')
                    small.text-light #miperroestátriste,#pasearamiperro,#mascota,#miperritaestásola,
                li.list-group-item.animated.fadeInUpShort.delay-2500.phbgn-transparent.border-light
                  i.fas.fa-check
                  |  Fotógrafa Profesional 
                  p.card-text.ml-1.text-truncate(style='max-width: auto;')
                    small.text-light #fotografía,#XVaños,#boda,#modelaje,#grabarevento,#grabarboda
    p.mt-3
      a(href='#phHmAdmin')
        i.fas.fa-chevron-down.animated.fadeInUpShort.delay-500.fa-2x.phtext-light