// --
// phHmExprnce Container - Landing page visible on xs only
#navExprnce-md.container-fluid.d-none.d-md-block.d-xl-none
  .row.bg-white.animatedParent
    .col-12.mt-3
      .container-fluid
        .col-12
          p.h3.animated.fadeIn.delay-250.font-weight-bold.phtext-dark.phfont-lato
            i.fas.fa-bolt.phtext-red
            |  Las mejores experiencias llegan sin buscarlas
          small.h5.animated.fadeIn.delay-250.text-muted.phfont-muli
            | Comparte en Phestee 
            b lo que necesites
            | , o bien 
            b levanta la mano
            |  cuando quieras ofrecer algo. Lo demás sucede de forma natural.
    .container.phfont-muli.text-left.border-0.phtext-dark.phbgn-f5.mt-4.mb-5.p-4
      .card.phtext-dark.animated.fadeInUpShort.delay-500
        img.card-img-top(src='../img/system/coffee.jpeg')
        .card-body
          h6.card-title.font-weight-light
            | Se terminó el café! &#x1F625  &#x2615
            br
            | #cupofjoey #workday
          small
            a.p.font-weight-light.text-muted A 3km, hoy a las 11:30 am
        .card-footer.bg-white
          .row
            .col-12.d-flex.align-content-center.justify-content-start
              i.far.fa-hand-paper.my-auto.phtext-blue(data-fa-transform='flip-h rotate-20')
              small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 19
              i.fas.fa-heart.ml-4.my-auto.phtext-red
              small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 90
              i.fa.fa-retweet.ml-4.my-auto.phtext-muted
              small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 11
      .card.mt-4.phtext-dark.animated.fadeInUpShort.delay-1000
        img.card-img-top(src='../img/system/dog.jpeg')
        .card-body
          h6.card-title.font-weight-light
            | Mickey está aburrida... es hora de su paseo y no he terminado mi tarea! &#x1F436
            br
          small
            a.p.font-weight-light.text-muted A 2.1km, hoy a las 06:10 pm
        .card-footer.bg-white
          .row
            .col-12.d-flex.align-content-center.justify-content-start
              i.far.fa-hand-paper.my-auto.phtext-blue(data-fa-transform='flip-h rotate-20')
              small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 9
              i.fas.fa-heart.ml-4.my-auto.phtext-red
              small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 46
              i.fa.fa-retweet.ml-4.my-auto.phtext-muted
              small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 12
      .card.mt-4.phtext-dark.animated.fadeInUpShort.delay-1250
        img.card-img-top(src='../img/system/party.jpeg')
        .card-body
          h6.card-title.font-weight-light
            | Reunión en casa de 
            b.phtext-blue @jo**b
            |  para ver el partido 
            br
            | #finaldecopa #reunióndeamigos
          small
            a.p.font-weight-light.text-muted A 2km, hoy, a las 03:36 pm
        .card-footer.bg-white
          .row
            .col-12.d-flex.align-content-center.justify-content-start
              i.far.fa-hand-paper.my-auto.phtext-blue(data-fa-transform='flip-h rotate-20')
              small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 22
              i.fas.fa-heart.ml-4.my-auto.phtext-red
              small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 554
              i.fa.fa-retweet.ml-4.my-auto.phtext-muted
              small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 4