extends layout.pug
block contenido
  div(class="col-md-6 remove-float center-block big-top-space" ng-controller="forgotpassword")
      form(name="frmForgotP" id="frmForgotP")
        div
          label(for="email") Correo electrónico.
          input(type="email" placeholder="Correo electrónico" id="iptEmail" name="iptEmail" ng-model="iptEmail" class="form-control" ng-required="true")
          span(ng-show="frmForgotP.iptEmail.$error.required && frmForgotP.iptEmail.$dirty") El correo electrónico es requerido.
        div
          input(type="button" value="Recuperar password" class="btn btn-info" ng-click="resetPassword()" ng-disabled="frmForgotP.$invalid")
