doctype html
html(lang="es" ng-app="PhesteeApp")
  head
    title ¡Bienvenidos a Phestee!
    meta(charset="utf-8")
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/phstylesfinal.css')
    link(rel='stylesheet', href='../css/animations.css')
    link(href='https://fonts.googleapis.com/css?family=Muli|Open+Sans|Ubuntu|Lato', rel='stylesheet')
    script(src="../js/angular.js")
    script(src="../js/ngStorage.min.js")
    script(src="../js/controller.js")
    script(src='../js/fontawesome-all.min.js')
    script(src="../js/ng-file-upload-shim.js")
    script(src="../js/ng-file-upload.js")
    script(src='../js/jquery-3.2.1.min.js')
    script(src='../js/bootstrap.min.js')
  body
    block contenido
