doctype html
html(lang="es" ng-app="PhesteeApp")
  head
    title Phestee
    meta(charset='UTF-8')
    meta(meta='', name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='Benjamin Castro')
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/phstylesfinal.css')
    link(rel='stylesheet', href='../css/animations.css')
    link(href='https://fonts.googleapis.com/css?family=Muli|Open+Sans|Ubuntu|Lato', rel='stylesheet')
    script(src='../js/fontawesome-all.min.js')
    script(src="../js/angular.js")
    script(src="../js/ngStorage.min.js")
    script(src="../js/controller.js")
    script(src="../js/ng-file-upload-shim.js")
    script(src="../js/ng-file-upload.js")
  body(ng-controller="homeController")
    block contenido
  // End of main container
  // Footer
  // ---
  // Scripts
  script(src='js/jquery-3.2.1.min.js')
  script(src='js/popper.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/typed.js')
  script(src='js/css3-animate-it.js')
  script.
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
  script(type='text/javascript').
    function ActiveFields() {
    document.getElementById("slctaPstFld").focus();
    }
    function ClearFields() {
    document.getElementById("slctaPstFld").value = "";
    document.getElementById("slctaPstFld").focus();
    }
    
    //body(ng-controller="homeController" ng-init="getDataUser("+JSON.stringify(user)+","+JSON.stringify(businessUser)+","+dataLoad+")")
