extends layout.pug
block contenido
  div(class="col-md-6 remove-float center-block big-top-space")
    form(name="frmNewPassword" id="frmNewPassword" ng-controller="changePasswordController")
      div
        label(for="Password") Contraseña:
        input(type="password", name="iptPassword",placeholder="Password",id="iptPassword", class="form-control" ng-model="iptPassword" ng-required="true" ng-minlength="8")
        span(ng-show="frmsignup.iptPassword.$error.required && frmsignup.iptPassword.$dirty") El password es requerido.
        span(ng-show="frmsignup.iptPassword.$error.minlength && frmsignup.iptPassword.$dirty") El minimo del password son 8 caracteres.

      div
        label(for="Password") Confirmar contraseña:
        input(type="password" name="iptConfirmPassword" placeholder="Confirmar password"  id="iptConfirmPassword" class="form-control" ng-model="iptConfirmPassword" ng-required="true")
        span(ng-show="frmsignup.iptConfirmPassword.$error.required && frmsignup.iptConfirmPassword.$dirty") La confirmación del password es requerido.
        br
        span(ng-show="showMsj && frmNewPassword.iptConfirmPassword.$dirty") La confirmacion debe ser igual al password.

      div
        input(type="button" ng-disabled="frmNewPassword.$invalid" name="btnChangePassword" id="btnChangePassword" value="Cambiar password" ng-click="changePasswordDB('"+token+"')")
