extends ../leftPanel/xl
block pannel
  // content start
  .col-7.mt-5.pt-5.mb-5
    .row.rounded.justify-content-center
      .col-12
        h6.text-uppercase.phtext-muted.font-weight-bold.my-auto
          i.fas.fa-edit
          |  Editar Perfil
          a(href='pheditbusiness.html')
            small.phfont-opensans.phtext-blue.ml-3.my-auto.text-capitalize  1 Negocio registrado
        .dropdown-divider(role='separator')
        form
          .form-row.my-auto
            .col-8.mt-3.d-flex.justify-content-start
              small.my-auto
                p.p.my-auto Avatar de Perfil
              img.ml-5.my-auto.rounded-circle(src='img/PhesteeUser.jpg', width='50', height='50')
              label.btn.btn-outline.btn-sm.rounded-0.ml-3.my-auto
                small Subir una foto
                input(type='file', style='display: none;')
          .form-row.my-auto
            .col-12.mt-3.d-flex.justify-content-start
              small.my-auto
                p.p.my-auto Nombre completo
              input.form-control.phfield.form-control-sm.ml-3.rounded-0.border-top-0.border-left-0.border-right-0(type='text', placeholder='Ejemplo: Luis García')
          .form-row.my-auto
            .col-12.mt-3.d-flex.justify-content-start
              small.my-auto
                p.p.my-auto Nombre de Usuario
              input.form-control.phfield.form-control-sm.ml-3.rounded-0.border-top-0.border-left-0.border-right-0(type='text', placeholder='@')
            .col-12.mt-2
              small.my-auto
                p.p.phtext-muted.my-auto www.phestee.com/
          .row.my-auto
            .col-12.mt-4.d-flex.justify-content-between
              small Género
              select#inputGroupSelect01.custom-select.custom-select-sm.rounded-0.border-top-0.border-left-0.border-right-0
                option(selected='') Selecciona
                option(value='1') Hombre
                option(value='2') Mujer
                option(value='3') Prefiero no decirlo
              small En qué Ciudad vives
              select#inputGroupSelect01.custom-select.custom-select-sm.rounded-0.ml-2.border-top-0.border-left-0.border-right-0
                option(selected='') Selecciona
                option(value='1') Guadalajara
                option(value='2') Zapopan
                option(value='3') El Salto
              small Fecha de Nacimiento
              small.my-auto
                input.my-auto.text-center.datepicker-here.rounded-0.border-top-0.border-left-0.border-right-0(type='text', data-language='es', placeholder='Selecciona')
          .form-row.my-auto
            .col-12.mt-3.d-flex.justify-content-start
              small.my-auto
                p.p.my-auto Email
              input.form-control.phfield.form-control-sm.ml-3.rounded-0.border-top-0.border-left-0.border-right-0(type='text', placeholder='')
          .row.my-auto
            .col-12.mt-4.d-flex.justify-content-between
              i.fab.phtext-muted.fa-twitter.my-auto
              input.form-control.phfield.form-control-sm.ml-2.rounded-0.border-top-0.border-left-0.border-right-0(type='text', placeholder='@Twitter')
              i.fab.phtext-muted.fa-facebook-square.ml-3.my-auto
              input.form-control.phfield.form-control-sm.ml-2.rounded-0.border-top-0.border-left-0.border-right-0(type='text', placeholder='URL de Facebook')
          .form-row.my-auto
            .col-12.mt-3.d-flex.justify-content-between
              i.fab.phtext-muted.fa-instagram.my-auto
              input.form-control.phfield.form-control-sm.ml-2.rounded-0.border-top-0.border-left-0.border-right-0(type='text', placeholder='URL de Instagram')
              i.fas.phtext-muted.fa-globe.ml-3.my-auto
              input.form-control.phfield.form-control-sm.ml-1.rounded-0.border-top-0.border-left-0.border-right-0(type='text', placeholder='Página Web')
    .row.my-auto.text-right
      .col-12.justify-content-end.mt-5
        button.btn.phbtn-blue
          i.fas.fa-save
          |  Guardar cambios
  // End of content
  include ../../endScripts