extends ../../../loggedLayout
block contenido
  include ../../topbar
  // Main Container
  // phAppBgnd Container - Board and Feed
  .container-fluid.phtext-dark
    .container-fluid
      .row.justify-content-start
        // End of Mid panel, Feed
        .col-3.mt-5.pt-5
          .card.border-0.sticky
            .card-body
              p.text-left.phtext-muted.font-weight-bold.text-uppercase
                i.fas.fa-cog
                |  Ajustes
              ul.nav.nav-tabs(style='display: block;')
                li.nav-item
                  a.nav-link.text-dark.phbox-hover.rounded-0(href='pheditprofile.html') Editar Perfil
                li.nav-item
                  a.nav-link.text-dark.phbox-hover.rounded-0(href='pheditbusiness.html') Editar Negocio
                li.nav-item
                  a.nav-link.text-dark.phbox-hover.rounded-0(href='pheditboard.html') Editar Tablero
                li.nav-item
                  a.nav-link.phbgn-fa.phtext-blue.rounded-0(href='#') Cuenta
                li.nav-item
                  a.nav-link.text-dark.phbox-hover.rounded-0(href='pheditnotifications.html') Ajuste de Notificaciones
                li.nav-item
                  a.nav-link.text-dark.phbox-hover.rounded-0(href='#') Certificación
                //
                  <li class="nav-item">
                  <a class="nav-link text-dark phbox-hover rounded-0" href="#">Dashboard</a>
                  </li>
        // End of Mid panel, Feed
        block pannel