// --
// phHmWhatIs Container - Landing page visible on xl only
#navWhatIs.container-fluid.d-none.d-xl-block
  .row.phhgt-cover.bg-white.align-items-start.justify-content-center.animatedParent
    .col-12.mt-5
      .container.mt-4.d-flex.justify-content-center.text-center
        .col-9.animated.fadeIn.delay-250
          p.h2.font-weight-bold.phtext-dark.phfont-lato
            i.far.fa-hand-paper.phtext-blue(data-fa-transform='flip-h rotate-20')
            |  Es tan sencillo que lo querrás usar todos los días
          small.h5.animated.fadeIn.delay-250.text-muted.phfont-muli
            | No importa si vas a 
            b organizar una boda
            |  o si tu mascota quiere un 
            b paseo por el parque.
            |  Todos estamos aquí para darnos la mano.
      .container-fluid.mt-5.border-0.d-flex.justify-content-center
        .col-4.phfont-muli.d-flex.align-items-center.justify-content-end
          .col-6.card.phbgn-gradient-blue.border-0.text-white.animated.fadeIn.delay-1000
            .card-body.text-center
              //
                <div class="row d-flex justify-content-between">
                <i class="fas fa-user"></i>
                <i class="fa fa-plus text-white"></i>
                </div>
              img.rounded-circle.phborder-bold-white(src='../img/system/rings.jpeg', width='90', height='90', style='border-width: thick')
              p.card-title.mt-3.phfont-lato.text-white Joyería Zaf
              p.card-text.phfont-muli.text-white
                small Joyería fina
              small.phfont-muli.text-white
                i.fa.fa-bolt.text-white
                |  Ver propuesta
          .col-6.ml-3.card.phbgn-gradient-purple.border-0.text-white.animated.fadeIn.delay-1250
            .card-body.text-center
              //
                <div class="row d-flex justify-content-between">
                <i class="fas fa-user"></i>
                <i class="fa fa-plus text-white"></i>
                </div>
              img.rounded-circle.phborder-bold-white(src='../img/system/wedding.jpeg', width='90', height='90', style='border-width: thick')
              p.card-title.mt-3.phfont-lato.text-white Eventos GDL
              p.card-text.phfont-muli.text-white
                small Wedding Planner
              small.h6.phfont-muli.font-weight-light.text-white
                i.fa.fa-bolt.text-white
                |  Organizamos la boda de tu hermano de Pé a Pá
        .col-3.phfont-muli.d-flex.align-items-center
          .card.my-auto.phbox-shadow-blue.animated.fadeIn.delay-250
            .card-body
              .row
                .ml-3.d-flex.justify-content-start
                  a(href='#')
                    img.rounded-circle(src='../img/system/user1.jpeg', width='55', height='55')
                .col.my-auto
                  small
                    a.h6.font-weight-bold.phtext-dark Fer González
                  p.fUbuntu
                    small.text-muted Hoy, a las 10:15 pm
              h6.h6.card-title.font-weight-light
                | ¡Mi hermano se comprometió! ¡Felicidades! 
                br
                | #losamo #bienvenidaalafamilia &#x1F935 &#x1F470
            img.card-img-top.rounded-0(src='../img/system/engagement.jpeg')
            .card-footer.bg-white
              .row
                .col-12.d-flex.align-content-center.justify-content-start
                  i.far.fa-hand-paper.my-auto.phtext-blue(data-fa-transform='flip-h rotate-20')
                  small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 4
                  i.fas.fa-heart.ml-4.my-auto.phtext-red
                  small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 90
                  i.fa.fa-retweet.ml-4.my-auto.phtext-muted
                  small.p.my-auto.ml-2.font-weight-bold.text-dark.text-truncated 11
        .col-4.phfont-muli.d-flex.align-items-center.justify-content-start
          .col-6.card.phbgn-gradient-aqua.border-0.text-white.animated.fadeIn.delay-1500
            .card-body.text-center
              //
                <div class="row d-flex justify-content-between">
                <i class="fas fa-user"></i>
                <i class="fa fa-plus text-white"></i>
                </div>
              img.rounded-circle.phborder-bold-white(src='../img/system/dress.jpeg', width='90', height='90', style='border-width: thick')
              p.card-title.mt-3.phfont-lato.text-white Vestidos Jannette
              p.card-text.phfont-muli.text-white
                small Vestidos de Novia
              small.h6.phfont-muli.font-weight-light.text-white
                i.fa.fa-bolt.text-white
                |  ¡Tenemos el vestido perfecto para tu cuñada!
          .col-6.ml-3.card.phbgn-gradient-green.border-0.text-white.animated.fadeIn.delay-1750
            .card-body.text-center
              //
                <div class="row d-flex justify-content-between">
                <i class="fas fa-user"></i>
                <i class="fa fa-plus text-white"></i>
                </div>
              img.rounded-circle.phborder-bold-white(src='../img/system/fotos.jpeg', width='90', height='90', style='border-width: thick')
              p.card-title.mt-3.phfont-lato.text-white Memo Hernández
              p.card-text.phfont-muli.text-white
                small Fotógrafo profesional
              small.phfont-muli.text-white
                i.fa.fa-bolt.text-white
                |  Ver propuesta
    p.mt-3
      a(href='#navTblro')
        i.fas.fa-chevron-down.animated.fadeInUpShort.delay-500.fa-2x.phtext-light