extends ../leftPanel/xl
block pannel
  // content start
  .col-7.mt-5.pt-5.mb-5(ng-controller="editServicesController" ng-init="loadServicesUser()")
    .row
      .col-12
        h6.phtext-muted.text-uppercase.font-weight-bold.my-auto
          i.fas.fa-edit
          |  Editar Tablero
          a(href='pheditbusiness.html')
            small.phfont-opensans.phtext-blue.ml-3.my-auto.text-capitalize  1 Negocio registrado
        .dropdown-divider(role='separator')
        //.form-row.my-auto(ng-repeat="dataBusinessServices in dataServicesUser")
        .form-row.my-auto(ng-repeat="dataBusinessServices in dataServicesUser")
          .col-8.mt-3.d-flex.justify-content-start.ph-pointer(data-toggle='collapse', href='#expandEdtItms', aria-expanded='false', aria-controls='expandEdtItms')
            img.my-auto.rounded-circle(src='../../../../img/system/User.png', width='50', height='50')
            p.my-auto.ml-3.p.text-dark.my-auto {{dataBusinessServices.name}}
            small.my-auto
              i.fas.fa-caret-down.ml-3.fa-lg.my-auto
        form#expandEdtItms.collapse(ng-repeat="dataBusinessServices in dataServicesUser")        
          button.close(type='button', aria-label='Close', data-toggle='collapse', href='#expandEdtItms', aria-expanded='false', aria-controls='expandEdtItms')
            span(aria-hidden='true')
              small ×
          small.text-left.text-dark
            p.p.mt-2  Tus Productos y/o Servicios 
          .row
            #phFeed.col-12
              .card-deck
                .card.phbgn-f5
                  p.text-center.mt-5
                    i.far.fa-images.fa-4x.phtext-muted
                    input(type='file', ng-model='imgServiceAdd[$index]', name='imgServiceAdd', multiple accept='image/*', ngf-max-size='2MB' ngf-select ngf-multiple="true")                    
                    li(ng-repeat="f in imgServiceAdd[$index]")
                      img(style="width: 50px; height: 50px;" ngf-thumbnail="f")
                      .
                        {{f.name}}
                  .card-body
                    input#iptProductServiceAdd.form-control.form-control-sm.border.card-title(type='text', placeholder='Producto o Servicio' ng-model="iptProductServiceAdd[$index]")
                    textarea#txtaDescriptionAdd.form-control.form-control-sm.card-title.border(placeholder='Descripción', rows='2' ng-model="txtaDescriptionAdd[$index]")
                    input#iptHashtagAdd.form-control.form-control-sm.card-title.card-text.border(type='text', placeholder='#hashtags' ng-model="iptHashtagAdd[$index]")
                    input#iptPriceAdd.form-control.form-control-sm.card-title.border(type='text', placeholder='Precio' ng-model="iptPriceAdd[$index]")
                  .card-footer.d-flex.justify-content-end
                    //a.btn.phbtn-blue.btn-sm.phfont-muli(ng-click="addBoard($index,imgServiceAdd[$index])")
                    a.btn.phbtn-blue.btn-sm.phfont-muli(ng-click="addBoard($index,imgServiceAdd[$index])")
                      i.fas.fa-plus.fa-1x
                      |  Agregar 
                div(ng-repeat="dataService in dataBusinessServices.services")                                                                             
                  .card                                                         
                    img.card-img-top(src='../../../../img/xFa6fAiAlNMK350EoVuedeENij7GMadjmn7e/Services/{{dataService.imgs[dataService.imgs.length - 1].img}}' alt='Card image cap')                                        
                    .card-body
                      h5.card-title {{dataService.name}}
                      //p.card-text
                        | {{dataService.description}} 
                      textarea#txtaDescriptionData.form-control.form-control-sm.card-title.border(placeholder='Descripción', rows='2' ng-model="txtaDescriptionData[$parent.$index][$index]")                                               
                      input#iptHashtagData.form-control.form-control-sm.card-title.card-text.border(type='text', placeholder='#hashtags' ng-model="iptHashtagData[$parent.$index][$index]")                                            
                      input#iptPriceAdd.form-control.form-control-sm.card-title.border(type='text', placeholder='Precio' ng-model="iptPriceData[$parent.$index][$index]")                       
                    .card-footer.bg-white.d-flex.justify-content-between
                      p.text-primary.phfont-muli.my-auto
                        i.far.fa-handshake.phtext-blue
                        |  300 acuerdos
                      a.btn.phbtn-blue.btn-sm.phfont-muli(data-toggle='modal', href='#phAnncPst', data-target='#phAnncPst')
                        i.fas.fa-bullhorn.fa-1x(data-fa-transform='rotate-340')
                        |  Crea un anuncio
                      input(type="button" value="X" ng-click="deleteService(dataService.name,$parent.$index,$index)")
                .card-deck.mt-3                
                //.card
                  .card-body.text-center.phbgn-f5
                    a(href='#topFeed')
                      i.fas.fa-sign-out-alt.fa-lg.phtext-muted(data-fa-transform='rotate-270')
        .dropdown-divider.mt-3(role='separator')        
    .form-row.my-auto
      .col-12.d-flex.justify-content-between.mt-2
        button.my-auto.btn.btn-md.phbtn-outline-blue
          i.fas.fa-gift.my-auto
          |  Obten una cuenta Premium para agregar más Productos o Servicios a tu tablero
        button.btn.phbtn-blue(ng-click="saveServices()")
          i.fas.fa-save
          |  Guardar Cambios
  // End of content
  include ../../endScripts
