// Header - Display on xl only
nav#navbar-phHome.navbar.fixed-top.phbgn-transparent
  a.navbar-brand.phtext-dark.phfont-lato.my-auto.d-none.d-xl-block(href='phindex.html')
    img(src='../img/system/phesteelogox2.png', width='40', height='40', alt='Logo Phestee')
    | phestee
  .navbar.nav.ml-auto
    .form-inline.phfont-muli
      button.btn.align-middle.mx-1.phbtn-outline-blue.d-none.d-xl-block(data-toggle='modal', data-target='#phLoginMdl') Iniciar sesión