script(src='../../../js/jquery-3.2.1.min.js')
script(src='../../../js/popper.min.js')
script(src='../../../js/bootstrap.min.js')
script(src='../../../js/typed.js')
script(src='../../../js/css3-animate-it.js')
script.
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
script(type='text/javascript').
  function ActiveFields() {
  document.getElementById("slctaPstFld").focus();
  }
  function ClearFields() {
  document.getElementById("slctaPstFld").value = "";
  document.getElementById("slctaPstFld").focus();
  } 
